.welcDiv {
  display: flex;
  gap: 10px;
  line-height: 72px;
  position: relative;
  left: 10%;
  text-align: center;
  align-items: center;
  img {
    position: relative;
    border-radius: 50%;
  }
}
