.cartLink {
  margin: 0 0 0 0;
  letter-spacing: 0;
  line-height: 0;
  padding: 0 0 0 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.4s ease-in-out;
    padding: 20px 0;
    &:hover,
    &.active {
      color: rgb(127, 255, 212);
    }
  }
}

.bars {
  display: none;
}
.div {
  display: flex;
  justify-content: center;
  height: 130px;
  width: 100%;
  background-color: #1c1c1c;
  position: fixed;
  z-index: 3;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.shadow {
  box-shadow: 1px 1px 14px 1px aquamarine;
  height: 72px;
  /* max-height: 72px; */
}
.cartBlock {
  color: #fff;
  line-height: 0;
  margin: 0 10px;
  transition: color 0.4s ease-in-out;
  padding: 0;
  position: relative;
  right: 10vh;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.logo {
  margin-right: auto;
}
.cartCircle {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 13px;
  background: aquamarine;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #111;
}
@media (max-width: 820px) {
  .header {
    height: 100vh;
    width: 100%;
    background-color: #1c1c1c;
    position: fixed;
    left: -100%;
    flex-direction: column;
    z-index: 12;
    border-right: 1px solid var(--clr-text);
    transition: left 0.7s;
  }
  .activeHeader {
    left: 0;
  }
  .bars {
    display: block;
    position: fixed;
    left: 15px;
    top: 15px;
  }
  .cartBlock {
    right: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 414px) {
  .header {
  }
}
