.carBlock {
  margin-top: 10vh;
  display: flex;
}
.Image {
  border-radius: 30px;
  border: 1px solid #111;
  box-shadow: 1px 1px 4px 1px black;
}
.RightBlock {
  padding: 30px;
  width: 100%;
  text-align: center;
}
.back:hover {
  color: aquamarine;
}
.cont {
  margin: 10px auto;
}
.ImageDiv {
  max-width: 50%;
}
@media (max-width: 1200px) {
  .carBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ImageDiv {
    max-width: 80%;
  }
  .Image {
    width: 100%;
    height: auto;
  }
  .back {
    display: none;
  }
}
